
.chat{
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  background: white;
 /*  box-shadow: 0 0 1px 1px rgb(241, 241, 241); */
}

.title {
  width: 100%;
  height: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background: var(--button-send);
  color: #fff;
  gap: 10px;
}

.title div {
  display:flex;
  padding: 0 1rem;
  box-sizing: border-box;
  align-items: center;
}

.logout {
  display:flex;
  justify-self: flex-end;
  margin-right: 1rem;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  width: 6rem;
  height: 1.5rem;
  border-radius: .5rem;
  justify-content: center;
  font-size: 12px;
}

.messages {
  width: 100%;
  padding: 10px 0;
  height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.article {
  display:flex;
  text-align: justify;
  box-sizing:border-box;
  padding: 5px 10px;
  border-radius: .5rem;
  width: 80%;
  max-width: 80%;
  margin-left: 10px;
  word-wrap: break-word;
  box-shadow: 1px 1px 3px 1px rgb(226, 226, 226);
  box-sizing: border-box;
}

.other {
  position: relative;
  background:rgb(182, 232, 255);
}

.mine {
  background:rgb(214, 255, 168);
  align-self: flex-end;
  margin-right: 10px;
  margin-left: 0;
  position: relative;
}

.message-content{
  max-width: 100%;
  background:transparent;
 }

.message-mine, .article strong {
  font-size: 14px;
}

.article strong {
  margin-right: 10px;
}

.form-message {
  width: 100%;
  height: 3rem;
  display:grid; 
  grid-template-columns: 3fr 1fr;
  padding: 10px;
  box-sizing: border-box;
  border-top: var(--border-color);
  background: rgb(235, 235, 235);
}

.form-message input{
  width: 100%;
  height: 2rem;
  outline: none;
  box-sizing: border-box;
}

.form-message input[type="text"]{
  padding: 0 10px;
}

.form-message input[type="submit"]{
  background: var(--button-send);
  color:#fff;
  border: none;
  cursor: pointer;
}

.timer {
  color:rgb(128, 127, 127);
  font-weight: 600;
  font-size: 12px;
  background: rgb(236, 236, 236);
  width: fit-content;
  position: absolute;
  bottom: -10px;
  right: 10px;
  padding:.2rem;
  border-radius: .5rem;
  box-shadow: 0px 1px 5px 1px rgb(206, 206, 206);;
}

.new-message{
  border-bottom: 1px solid gray;
}

.connected {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.connected-title {
  width: 100%;
  font-weight: bold;
}

.active-user {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.green-dot{
  display: flex;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  background: green;
}