.modal {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.616);
    height: 100vh;
    z-index: 10;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-container {
    width: 280px;
    height: fit-content; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    padding: 1.5rem;
    box-sizing: border-box;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--button-send);
    font-family: 'Montserrat';
}

.modal-message {
    margin-bottom: 2rem;
    font-family: 'Montserrat';
    font-size: 14px;
}

.modal-buttons {
    width: 100%;
}

.modal-button-agree{
    background: var(--button-send);
    color: white;
    width: 100%;
    height: 2rem;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat';
}